@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom scrollbar styles for WebKit browsers */
.overflow-x-auto::-webkit-scrollbar {
    height: 8px; /* Height of the scrollbar */
  }
  
  .overflow-x-auto::-webkit-scrollbar-thumb {
    background-color: #3b82f6; /* Blue color for the scrollbar thumb */
    border-radius: 4px; /* Rounded corners */
  }
  
  .overflow-x-auto::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background color of the scrollbar track */
  }
  
  /* Custom scrollbar styles for Firefox */
  .overflow-x-auto {
    scrollbar-width: thick; /* Make scrollbar thin */
    scrollbar-color: #3b82f6 #f1f1f1; /* Thumb color and track color */
  }
  